//@import "../../node_modules/bootstrap/dist/css/bootstrap.css";
@import "../../node_modules/bootstrap/dist/css/bootstrap.css";

html, body {
  height: 100%;
}

.list-group {
  max-width: clamp(460px, 50vw, 800px);
  margin: 0 auto;
}

.list-group-checkable .list-group-item {
  display: flex;

  label {
    cursor: pointer;
    display: block;
    line-height: 2em;
    margin: -1rem 1rem -1rem -1rem;
    flex-shrink: 0;
    border-top-left-radius: var(--bs-border-radius-lg);
    border-bottom-left-radius: var(--bs-border-radius-lg);
    color: var(--bs-white);
    writing-mode: vertical-rl;
    text-orientation: upright;
    text-align: center;
    text-transform: uppercase;
    padding: 0.5em 0;
    user-select: none;
  }

  figure {
    margin: 0 1em 0 0;

    figcaption {
      margin-top: 0;
      margin-bottom: 0;

      .alert {
        margin-top: 1rem;
        margin-bottom: 0;
      }
    }
  }
}

.list-group-item:hover label{
  background-color: var(--bs-orange);
}
.list-group-item-check:checked + .list-group-item label {
  background-color: var(--bs-red);
}
.toggle-selected:checked + .accordion-collapse .list-group-item-check:checked + .list-group-item {
  display: none;
}

.accordion-button {
  border-radius: 0 !important;

  &:focus {
    box-shadow: none;
  }

  &.collapsed:focus,
  &.collapsed:hover {
    background-color: var(--bs-accordion-btn-focus-border-color);
  }
}
