//@import "../../node_modules/bootstrap/dist/css/bootstrap.css";
@import "../../node_modules/bootstrap/dist/css/bootstrap.css";

html, body {
  height: 100%;
}

.list-group {
  max-width: clamp(460px, 50vw, 800px);
  margin: 0 auto;
}

.accordion-header label {
  height: 100%;
}

.list-group-checkable .list-group-item {
  display: flex;

  label {
    display: block;
    width: 2em;
    height: calc(100% + 2em);
    margin: -1rem 1rem -1rem -1rem;
    flex-shrink: 0;
    position: relative;
    &:before {
      cursor: pointer;
      display: block;
      line-height: 2em;
      border-top-left-radius: var(--bs-border-radius-lg);
      border-bottom-left-radius: var(--bs-border-radius-lg);
      color: var(--bs-white);
      writing-mode: vertical-rl;
      text-orientation: upright;
      text-align: center;
      text-transform: uppercase;
      padding: 0.5em 0;
      user-select: none;
      content: 'hide';
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
    }
  }

  figure {
    margin: 0 1em 0 0;

    figcaption {
      margin-top: 0;
      margin-bottom: 0;

      .alert {
        margin-top: 1rem;
        margin-bottom: 0;
      }
    }
  }
}

.list-group-item:hover label:before{
  background-color: var(--bs-red);
}
@media (hover: none) {
  .list-group-item label:before{
    background-color: var(--bs-red);
  }
}
.list-group-item-check:checked + .list-group-item:hover label:before {
  background-color: var(--bs-green);
  content: 'show';
}
@media (hover: none) {
  .list-group-item-check:checked + .list-group-item label:before {
    background-color: var(--bs-green);
    content: 'show';
  }
}
.toggle-selected:checked + .accordion-collapse .list-group-item-check:checked + .list-group-item {
  display: none;
}
.toggle-selected:not(:checked) + .accordion-collapse .list-group-item-check:not(:checked) + .list-group-item {
  display: none;
}

.accordion-button {
  border-radius: 0 !important;

  &:focus {
    box-shadow: none;
  }

  &.collapsed:focus,
  &.collapsed:hover {
    background-color: var(--bs-accordion-btn-focus-border-color);
  }
}
