//@import "../../node_modules/bootstrap/dist/css/bootstrap.css";
@import "../../node_modules/bootstrap/dist/css/bootstrap.css";

html, body {
  height: 100%;
}

.list-group {
  max-width: clamp(460px, 50vw, 800px);
  margin: 0 auto;
}

.list-group-checkable .list-group-item {
  display: flex;
  cursor: pointer;

  span{
    display: block;
    width: 1em;
    margin: -1rem 1rem -1rem -1rem;
    flex-shrink: 0;
    height: calc(100% + 2rem);
    border-top-left-radius: var(--bs-border-radius-lg);
    border-bottom-left-radius: var(--bs-border-radius-lg);
  }

  figure {
    margin: 0 1em 0 0;

    figcaption {
      margin-top: 0;
      margin-bottom: 0;

      .alert {
        margin-top: 1rem;
        margin-bottom: 0;
      }
    }
  }
}

.list-group-item-check:hover + .list-group-item span{
  background-color: var(--bs-orange);
}
.list-group-item-check:checked + .list-group-item span {
  background-color: var(--bs-red);
}
.toggle-selected:checked + .accordion-collapse .list-group-item-check:checked + .list-group-item {
  display: none;
}
